
.heroContain{
    background-color: var(--bg-color);
    transition: all 0.25s;
  height: 100vh;
  

}
#heroContain-id{
  overflow: visible
}


  .swiper_container {
    height: 100vh;
    width: 80%;
    transition: all 0.25s;
  }
  .swiper_container img{
     width: 30rem;
     height: 70vh;
     object-fit: cover;
     border-radius: 20px;
     transition: all 0.25s;
}
  .swiper-slide {
    width: 33rem !important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    align-content: center!important;
    transition: all 0.25s;
  }



  @media (max-width: 900px) {

  

    .container {
      max-width: 100%;
      padding: 4rem 1rem;
      margin: 0 auto;
    }
    
      .swiper_container {
        height: 70vh;
        width: 100%;
      }
      .swiper-slide {
        width: 12rem !important;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
        align-content: center!important;
      }
      .swiper_container img{
        width: 10rem;
        height: 16rem;
        object-fit: cover;
        border-radius: 20px;
   }

    
  }
 
 
  .mancuerna, .titulo-detail, .img-descripcion, .pasos, .consejos{
    opacity: 0;
    animation: slideFromLeft 1s ease-in-out forwards;
    -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}
  .text-hero1{
    opacity: 0;
    animation: slideFromLeft 1s ease-in-out forwards;
    -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}

  .swiper_container, .card{
    opacity: 0;
    animation: slideFromLeft 1s ease-in-out forwards;
    -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}
.titulo{
  opacity: 0;
  animation: slideFromCenter 1s ease-in-out forwards;
  -webkit-animation: slideFromCenter 1s ease-in-out forwards;
}

@keyframes slideFromLeft {
    from {
        opacity: 0;
        transform: translateX(-20%);
        -webkit-transform: translateX(-20%);
        -moz-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
        -o-transform: translateX(-20%);
}
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
        opacity: 0;
       
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromCenter {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 10;
      transform: translateY(-20%);
      -webkit-transform: translateY(-20%);
      -moz-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
      -o-transform: translateY(-20%);
}
}
